@page
@model AODMS.Pages.DailyLog.Entries.AddEntryModel
@{
    ViewData["Title"] = "Add Log Entry";
}

<h4 class="text-info">Add Log Entry</h4>
<br />

<div class="table-bordered container extra-pad">

    <form method="post">
        <!--Give a summary of invalid model states. JG-->
        <div class="text-danger" asp-validation-summary="ModelOnly"></div>

        <!--Insert hidden daily log id-->
        <input type="hidden" asp-for="DailyLogEntry.LogSummaryId" value="@Model.LogId" />

        <div class="form-group row">

            <!--Set the user that created the log entry. JG-->
            <div class="col-sm-1">
                <label asp-for="DailyLogEntry.CreateUser">User:</label>
            </div>

            <div class="col-sm-2">
                <input asp-for="DailyLogEntry.CreateUser" class="form-control" />
            </div>
            <!--Alert on invalid field state. JG-->
            <span asp-validation-for="DailyLogEntry.CreateUser" class="text-danger"></span>
        </div>

        <div class="form-group row">
            <!--Set the log entry text. JG-->
            <div class="col-sm-1">
                <label asp-for="DailyLogEntry.Entry">Entry:</label>
            </div>

            <div class="col-sm-9">
                <input asp-for="DailyLogEntry.Entry" class="form-control" />
            </div>

            <!--Alert on invalid field state. JG-->
            <span asp-validation-for="DailyLogEntry.Entry" class="text-danger"></span>

        </div>

        <!--Add the log entry or go back to the last page. JG-->
        <div class="form-group row">

            <div class="col-sm-2 col-sm-offset-2">
                <input type="submit" value="Add" class="btn btn-primary form-control" />
            </div>

            <div class="col-sm-2">
                <a asp-page="./Index" asp-route-id="@Model.LogId" class="btn btn-info form-control">Back to Log Entries</a>
            </div>

        </div>

    </form>

</div>

@section Scripts{
    <!--Perform client-side validation prior to post. JG-->
    <partial name="_ValidationScriptsPartial" />
}

