@page
@model AODMS.Pages.DailyLog.Entries.EditEntryModel
@{
    ViewData["Title"] = "EditEntry";
}

<h4 class="text-info">Edit Log Entry</h4>
<br />

<div class="table-bordered container extra-pad">

    <form method="post">

        <!--Insert hidden field information-->
        <input type="hidden" asp-for="DailyLogEntry.Id" />
        <input type="hidden" asp-for="DailyLogEntry.LogSummaryId" />
        <input type="hidden" asp-for="DailyLogEntry.CreateUser" />

        <div class="form-group row">
            <!--Set the log entry text. JG-->
            <div class="col-sm-1">
                <label asp-for="DailyLogEntry.Entry">Entry:</label>
            </div>

            <div class="col-sm-9">
                <input class="form-control" asp-for="DailyLogEntry.Entry" required="required" />
            </div>

        </div>

        <!--Add the log entry or go back to the last page. JG-->
        <div class="form-group row">

            <div class="col-sm-2 col-sm-offset-2">
                <input class="btn btn-primary form-control" type="submit" value="Save" />
            </div>

            <div class="col-sm-2">
                <a class="btn btn-info form-control" asp-page="./Index" asp-route-id="@Model.DailyLogEntry.LogSummaryId" >Back to Log Entries</a>
            </div>

        </div>

    </form>

</div>

