body {
    padding: 30px;
}

/*DailyLog CSS. JG*/
.align-vertical {
    vertical-align: middle;
}

.extra-pad {
    padding-top: 30px;
}

.extra-top-margin {
    margin-top: 10px;
}

.extra-bottom-margin {
    margin-bottom: 10px;
}