@page
@model AODMS.Pages.CreateModel
@{
    ViewData["Title"] = "Create Daily Log";
}

<h4 class="text-info">Create New Daily Log</h4>

<br />

<div class="container table-bordered extra-pad">

    <form method="post">

        <!--Create a dropdown with locations from the database. JG-->
        <div class="form-group row">

            <div class="col-sm-2">
                <label asp-for="DailyLogSummary.Unit"></label>
            </div>

            <div class="col-sm-4">
                <select class="form-control" asp-for="DailyLogSummary.Unit">
                    @foreach (var item in Model.DailyLogLocations)
                    {
                        <option>
                            @item.Unit
                        </option>
                    }
                </select>
                <!--Create a field description. JG-->
                <small class="form-text text-muted">Choose your unit.</small>
            </div>

        </div>
        <!--Get the date of the log file. JG-->
        <div class="form-group row">

            <div class="col-sm-2">
                <label asp-for="DailyLogSummary.Date"></label>
            </div>

            <div class="col-sm-4">
                <!--Only take dates in YYYY-MM-DD format. JG-->
                <input class="form-control" type=date asp-for="DailyLogSummary.Date" pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}" required="required" value="@DateTime.Now.ToString("yyyy-MM-dd")"/>
                <!--Create a field description. JG-->
                <small class="form-text text-muted">Enter date in YYYY-MM-DD format.</small>
            </div>

        </div>
        <!--Create the log file or go back to the last page. JG-->
        <div class="form-group row">

            <div class="col-sm-2 col-sm-offset-2">

                <input class="btn btn-primary form-control" type="submit" value="Create" />
            </div>

            <div class="col-sm-2">
                <a class="btn btn-info form-control" asp-page="./Index">Back to List</a>
            </div>

        </div>

    </form>

</div>