@page
@model AODMS.Pages.DailyLog.IndexModel
@{
    ViewData["Title"] = "Daily Logs";
}

<!--Link to create new logs. JG-->
<div class="container">

    <div class="col-sm-8">
        <h4 class="text-info">Logs</h4>
    </div>

    <div class="col-sm-4">
        <a asp-page="./Create" class="btn btn-info form-control">Create New Daily Log</a>
    </div>

</div>

<!--Read existing logs. JG-->
<div class="container">

    <div class="col-sm-8">

        <form method="post">

            @if (Model.DailyLogSummaries.Count() > 0)
            {
                <table class="table">

                    <tr>
                        <!--Get table headers. JG-->
                        <th>
                            <label asp-for="DailyLogSummaries.FirstOrDefault().Date"></label>
                        </th>

                        <th>
                            <label asp-for="DailyLogSummaries.FirstOrDefault().Location"></label>
                        </th>

                    </tr>
                    <!--List each daily log record. JG-->
                    @foreach (var item in Model.DailyLogSummaries)
                    {
                        <tr>
                            <td>
                                @item.Date
                            </td>

                            <td>
                                @item.Location
                            </td>

                            <td>
                                <a asp-page="./Entries/Index" asp-route-id="@item.Id" class="btn btn-primary">Open</a>
                            </td>

                        </tr>
                    }
                </table>
            }
            else
            {
                <!--No daily log records in database. JG -->
                <p>No logs available.</p>
            }
        </form>
    </div>

</div>
